body{
        display: block;
        margin: 8px;
}

p{
    margin-left: 5%;
}

figcaption{
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-left: 15%;
    margin-right: 15%;
}

#mainHeading {
    color: red;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.funParagraph {
    color: green;
}

h2{
    padding-top: 30px;
    font-family: 'Satisfy', cursive;

}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 1.5em;
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    gap: 0 px;
    grid-template-rows: repeat(2);

}

.gallery2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 px;
    grid-template-rows: repeat(2);
}

.galleryImage {
        /* width: 100%;
        height: 100%; */
        max-width: 100%;
        height: auto;
        border: thin silver solid;
        object-fit: cover;
        text-align: center;

} 

.singleFigure {
    width: 30%;
    text-indent: 0;
    text-align: center;
    border: thin silver solid;
    margin-top: 1em;
    margin-bottom: 4.5em;
    padding: 0.5em;
  }

  .centerImage {
    display: grid;
    place-items: center;
  }

/* #galleryItem1{
    grid-column-start: 1;
    grid-column-end: 2;
}

#galleryItem2{
    grid-column-start: 2;
    grid-column-end: 3;
}  */